= form_for(@muledeer) do |f|
  - if @muledeer.errors.any?
    #error_explanation
      %h2
        = pluralize(@muledeer.errors.count, "error")
        prohibited this muledeer from being saved:
      %ul
        - @muledeer.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :image
    %br/
    = f.text_field :image
  .field
    = f.label :state
    %br/
    = f.text_field :state
  .field
    = f.label :region
    %br/
    = f.text_field :region
  .field
    = f.label :unit
    %br/
    = f.text_field :unit
  .field
    = f.label :hunter
    %br/
    = f.text_field :hunter
  .field
    = f.label :spread_tip
    %br/
    = f.number_field :spread_tip
  .field
    = f.label :spread_greatest
    %br/
    = f.number_field :spread_greatest
  .field
    = f.label :spread_inside
    %br/
    = f.number_field :spread_inside
  .field
    = f.label :alias
    %br/
    = f.text_field :alias
  .field
    = f.label :cert
    %br/
    = f.text_field :cert
  .actions
    = f.submit