%h1 Listing muledeers
%table
  %tr
    %th Image
    %th State
    %th Region
    %th Unit
    %th Hunter
    %th Spread tip
    %th Spread greatest
    %th Spread inside
    %th Alias
    %th Cert
    %th
    %th
    %th
  - @muledeers.each do |muledeer|
    %tr
      %td= muledeer.image
      %td= muledeer.state
      %td= muledeer.region
      %td= muledeer.unit
      %td= muledeer.hunter
      %td= muledeer.spread_tip
      %td= muledeer.spread_greatest
      %td= muledeer.spread_inside
      %td= muledeer.alias
      %td= muledeer.cert
      %td= link_to 'Show', muledeer
      %td= link_to 'Edit', edit_muledeer_path(muledeer)
      %td= link_to 'Destroy', muledeer, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Muledeer', new_muledeer_path