%p#notice= notice
%p
  %b Image:
  = @muledeer.image
%p
  %b State:
  = @muledeer.state
%p
  %b Region:
  = @muledeer.region
%p
  %b Unit:
  = @muledeer.unit
%p
  %b Hunter:
  = @muledeer.hunter
%p
  %b Spread tip:
  = @muledeer.spread_tip
%p
  %b Spread greatest:
  = @muledeer.spread_greatest
%p
  %b Spread inside:
  = @muledeer.spread_inside
%p
  %b Alias:
  = @muledeer.alias
%p
  %b Cert:
  = @muledeer.cert
= link_to 'Edit', edit_muledeer_url(@muledeer)
|
\#{link_to 'Back', muledeers_path}