<section class="home-hero">
  <div class="container">
    <div class="row">
      <div class="offset7 span5">

        <div class="sign-in">
          <h2>Score &amp; Archive your Trophy.</h2>
          <%= form_tag '/login', :class => 'sign-in-form' do %>
            <div class="row">
              <div class="span5">
                <%= text_field_tag :email, nil, :class => 'span5', :placeholder => 'Username' %>
              </div>
            </div>
            <div class="row">
              <div class="span3">
                <%= password_field_tag :password, nil, :class => 'span3', :placeholder => 'Password' %>
              </div>
              <div class="span2">
                <%= submit_tag "Sign In", :class => 'btn btn-primary btn-block' %>
              </div>
            </div>
            <div class="options">
              Remember me &middot; Forgot my password?
            </div>
          <% end %>
        </div>


        <div class="sign-up">
          <h2>New to Elusive? <span>Sign up.</span></h2>
          <% user = User.new %>
          <%= form_for user, :url => sign_up_path, :html => { :class => 'sign-up-form' } do |f| %>

            <% if user.errors.any? %>
              <h2>
                <%= pluralize(user.errors.count, "error") %>
                prohibited this user from being saved:
              </h2>
              <ul>
                <% user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
              </ul>              
            <% end %>

            <div class="row">
              <div class="span5">
                <%= f.text_field :username, :class => 'span5', :placeholder => 'Username' %>
              </div>
            </div>

            <div class="row">
              <div class="span5">
                <%= f.text_field :email, :class => 'span5', :placeholder => 'Email' %>
              </div>
            </div>

            <div class="row">
              <div class="span5">
                <%= f.password_field :password, :class => 'span5', :placeholder => 'Password' %>
              </div>
            </div>

            <div class="row">
              <div class="span5">
                <%= submit_tag "Sign up for Elusive", :class => 'btn btn-success btn-block' %>
              </div>
            </div>
            <div class="options">
              <%= link_to 'Sign up with Facebook', '/auth/facebook' %>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</section>
