<p id="notice"><%= notice %></p>

<p>
  <b>Antler:</b>
  <%= @point.antler_id %>
</p>

<p>
  <b>Lg point:</b>
  <%= @point.lg_point %>
</p>


<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>
