<ul class="site-nav">
  <% if current_user %>
    <li><%= link_to "Profile", user_path(current_user) %></li>
    <li><%= link_to "Browse Scorecards", scorecards_path %></li>
    <li><%= link_to "Log Out", sign_out_path %></li>
  <% else %>
    <li><%= link_to "Log In", sign_in_path  %></li>
    <li><%= link_to "Browse Scorecards", scorecards_path  %></li>
  <% end %>
</ul>
