.card
	%header
		%h3 Mule Deer
		%p 
			Rifle • DIY
			%span.rank Ranked 80,298
	%figure.card_avatar
		.aka
			%span.alias "The Buck of Justice"
		%img{:src => "assets/photo.jpg"}
	.card_stats
		.score
			Typical Score
			%br
			%span.data 304
			.fraction
				.number
					3
				%div
					8
			%span.helper in
			.graph
				- width = 68
				.data{:style => "width: #{width}%"}
					%h6= "#{width}%"
			.graph
				- width = 89
				.data{:style => "width: #{width}%"}
					%h6= "#{width}%"
			.graph
				- width = 33
				.data{:style => "width: #{width}%"}
					%h6= "#{width}%"

		.points
			Points Total
			%br
				%span.helper L
				%span.data 27
				%span.helper X
				%span.data 23
				%span.helper R

