= form_for(@animal) do |f|
  - if @animal.errors.any?
    #error_explanation
      %h2
        = pluralize(@animal.errors.count, "error")
        prohibited this animal from being saved:
      %ul
        - @animal.errors.full_messages.each do |msg|
          %li
            = msg

  .field
    = f.hidden_field(:user_id, :value => session[:user_id])
  
  .field
    = f.label :kind, "Create a new scorecard for my:"
    = f.select :kind, [["Mule Deer", "mule deer"],["White Tail Deer", "white tail deer"],["Elk", "elk"]]

  .field
    = f.label :state, "What state was your trophy taken in?"
    = f.select :state, [["AZ - Arizona", "az"],["CA - California", "ca"],["CO - Colorado", "co"],["ID - Idaho", "id"],["MT - Montana","mt"],["NM - New Mexico","nm"],["NV - Nevada", "nv"],["UT - Utah", "ut"],["WY - Wyoming", "wy"]]

  .field
    = f.label :spread_tip, "Tip to Tip Spread:"
    = f.text_field :spread_tip_whole
    &
    = f.select :spread_tip_fraction, [["0/8","0"],["1/8","1"],["2/8","2"],["3/8","3"],["4/8","4"],["5/8","5"],["6/8","6"],["7/8", "7"]]
    Inches

  .field
    = f.label :spread_greatest, "Greatest Spread:"  
    = f.text_field :spread_greatest_whole
    &
    = f.select :spread_greatest_fraction, [["0/8","0"],["1/8","1"],["2/8","2"],["3/8","3"],["4/8","4"],["5/8","5"],["6/8","6"],["7/8", "7"]]
    Inches

  .field
    = f.label :spread_inside, "Inside Spread of Main Beams:"
    = f.text_field :spread_inside_whole
    &
    = f.select :spread_inside_fraction, [["0/8","0"],["1/8","1"],["2/8","2"],["3/8","3"],["4/8","4"],["5/8","5"],["6/8","6"],["7/8", "7"]]
    Inches

  .field
    = f.label :image, "Upload your image:"
    = f.text_field :image

  .field
    = f.label :alias, "Alias:"
    = f.text_field :alias, :placeholder => "e.g. The Buck of Justice"

  .actions
    = f.submit
    or
    = link_to 'Cancel', @animal







    