= form_for @animal, :html => {:multipart => "true"} do |f|
  - if @animal.errors.any?
    #error_explanation
      %h2
        = pluralize(@animal.errors.count, "error")
        prohibited this animal from being saved:
      %ul
        - @animal.errors.full_messages.each do |msg|
          %li
            = msg

  .field
    = f.hidden_field(:user_id, :value => session[:user_id])
    = f.hidden_field(:kind, :value => "mule deer")
  
  %br

  %ol.block.scoresheet_container_ol  
    %li
      %ul.block.ss_snip0_auto
        %li
          %figure.figframe
            .refguide
      %ul.block.ss_snip1_auto
        %li
          %span.circle A
        %li No. Points on Right Antler
        %li.color1 
          %span.data 9
      %ul.block.ss_snip1_auto 
        %li 
        %li No. Points on Left Antler
        %li.color1
          %span.data 5
      %ul.block.ss_snip1_entry
        %li 
          %span.circle.active B
        %li= f.label :spread_tip, "Tip to Tip Spread"
        %li.color1
          = f.text_field :spread_tip_whole
          = f.select :spread_greatest_fraction, [["0/8","0"],["1/8","1"],["2/8","2"],["3/8","3"],["4/8","4"],["5/8","5"],["6/8","6"],["7/8", "7"]]
          in
      %ul.block.ss_snip1_entry
        %li 
          %span.circle.active C
        %li= f.label :spread_greatest, "Greatest Spread"
        %li.color1
          = f.text_field :spread_greatest_whole
          = f.select :spread_greatest_fraction, [["0/8","0"],["1/8","1"],["2/8","2"],["3/8","3"],["4/8","4"],["5/8","5"],["6/8","6"],["7/8", "7"]]
          in
      %ul.block.ss_snip1_entry
        %li 
          %span.circle.active D
        %li= f.label :spread_inside, "Inside Spread of Main Beams"
        %li.color1
          = f.text_field :spread_inside_whole
          = f.select :spread_inside_fraction, [["0/8","0"],["1/8","1"],["2/8","2"],["3/8","3"],["4/8","4"],["5/8","5"],["6/8","6"],["7/8", "7"]]
          in
      %ul.block.ss_snip1_auto
        %li
        %li
          %span.stack
            SPREAD CREDIT
            %br
            %span.sub_text2
              (may equal but not exceed longer Main Beam)
        %li.color1
          - if @animal.spread_credit.to_i > 0 
            %span.data= "#{@animal.spread_credit.to_i / 8}"
            .score_fraction
              %strong= "#{@animal.spread_credit.to_i % 8}"
              8
            in
      

  %br

  .field
    = f.label :state, "What state was your trophy taken in?"
    = f.select :state, [["AZ - Arizona", "az"],["CA - California", "ca"],["CO - Colorado", "co"],["ID - Idaho", "id"],["MT - Montana","mt"],["NM - New Mexico","nm"],["NV - Nevada", "nv"],["UT - Utah", "ut"],["WY - Wyoming", "wy"]]

  .field
    = f.label :alias, "Alias:"
    = f.text_field :alias, :placeholder => "e.g. The Buck of Justice", :class => "medium"

  .field
    = f.label :image, "Attach an Image:"
    = f.file_field :image

  .actions
    = f.submit 'Save Scorecard'


    