%ol.block.container_ol  
    %li
        %ul.block.scorecard_row.color1
            %li
            %li
            %li Right
            %li Left
    %li
        %ul.block.scorecard_row
            %li E.
            %li Total of Lengths of Abnormal Points:
            %li
                %span.scorecard_data= "#{@animal.right_antler.pts_all.to_i / 8} #{@animal.right_antler.pts_all.to_i % 8}/8\""
            %li
                %span.scorecard_data= "#{@animal.left_antler.pts_all.to_i / 8} #{@animal.left_antler.pts_all.to_i % 8}/8\""
    %li
        %ul.block.scorecard_row
            %li F.
            %li Length of Main Beam:
            %li
                %span.scorecard_data= "#{@animal.right_antler.lg_mainbeam.to_i / 8} #{@animal.right_antler.lg_mainbeam.to_i % 8}/8\""
            %li
                %span.scorecard_data= "#{@animal.left_antler.lg_mainbeam.to_i / 8} #{@animal.left_antler.lg_mainbeam.to_i % 8}/8\""
    %li
        %ul.block.scorecard_row
            %li G-1.
            %li Length of First Point:
            %li
                %span.scorecard_data= "#{@animal.right_antler.lg_one.to_i / 8} #{@animal.right_antler.lg_one.to_i % 8}/8\""
            %li
                %span.scorecard_data= "#{@animal.left_antler.lg_one.to_i / 8} #{@animal.left_antler.lg_one.to_i % 8}/8\""
    %li
        %ul.block.scorecard_row
            %li G-2.
            %li Length of Second Point:
            %li
                %span.scorecard_data= "#{@animal.right_antler.lg_two.to_i / 8} #{@animal.right_antler.lg_two.to_i % 8}/8\""
            %li
                %span.scorecard_data= "#{@animal.left_antler.lg_two.to_i / 8} #{@animal.left_antler.lg_two.to_i % 8}/8\""
    %li
        %ul.block.scorecard_row
            %li G-3.
            %li Length of Third Point:
            %li
                %span.scorecard_data= "#{@animal.right_antler.lg_three.to_i / 8} #{@animal.right_antler.lg_three.to_i % 8}/8\""
            %li
                %span.scorecard_data= "#{@animal.left_antler.lg_three.to_i / 8} #{@animal.left_antler.lg_three.to_i % 8}/8\""
    %li
        %ul.block.scorecard_row
            %li G-4.
            %li Length of Fourth Point:
            %li
                %span.scorecard_data= "#{@animal.right_antler.lg_four.to_i / 8} #{@animal.right_antler.lg_four.to_i % 8}/8\""
            %li
                %span.scorecard_data= "#{@animal.left_antler.lg_four.to_i / 8} #{@animal.left_antler.lg_four.to_i % 8}/8\""
    %li
        %ul.block.scorecard_row
            %li H-1.
            %li Circ between Burr and First Point:
            %li
                %span.scorecard_data= "#{@animal.right_antler.circ_one.to_i / 8} #{@animal.right_antler.circ_one.to_i % 8}/8\""
            %li
                %span.scorecard_data= "#{@animal.left_antler.circ_one.to_i / 8} #{@animal.left_antler.circ_one.to_i % 8}/8\""
    %li
        %ul.block.scorecard_row
            %li H-2.
            %li Circ between First and Second Point:
            %li
                %span.scorecard_data= "#{@animal.right_antler.circ_two.to_i / 8} #{@animal.right_antler.circ_two.to_i % 8}/8\""
            %li
                %span.scorecard_data= "#{@animal.left_antler.circ_two.to_i / 8} #{@animal.left_antler.circ_two.to_i % 8}/8\""
    %li
        %ul.block.scorecard_row
            %li H-3.
            %li Circ between Mainbeam and Third Point:
            %li
                %span.scorecard_data= "#{@animal.right_antler.circ_three.to_i / 8} #{@animal.right_antler.circ_three.to_i % 8}/8\""
            %li
                %span.scorecard_data= "#{@animal.left_antler.circ_three.to_i / 8} #{@animal.left_antler.circ_three.to_i % 8}/8\""
    %li
        %ul.block.scorecard_row
            %li H-4.
            %li Circ between Second and Fourth Point:
            %li
                %span.scorecard_data= "#{@animal.right_antler.circ_four.to_i / 8} #{@animal.right_antler.circ_four.to_i % 8}/8\""
            %li
                %span.scorecard_data= "#{@animal.left_antler.circ_four.to_i / 8} #{@animal.left_antler.circ_four.to_i % 8}/8\""
    %li
        %ul.block.scorecard_row.color1
            %li 
            %li Total length of each Antler:
            %li
                %span.scorecard_data= "#{@animal.right_antler.lg_antler.to_i / 8} #{@animal.right_antler.lg_antler.to_i % 8}/8\""
            %li
                %span.scorecard_data= "#{@animal.left_antler.lg_antler.to_i / 8} #{@animal.left_antler.lg_antler.to_i % 8}/8\""
    %li
        %ul.block.scorecard_row.color1
            %li 
            %li
            %li= link_to 'Edit', edit_antler_url(@animal.right_antler.id)
            %li= link_to 'Edit', edit_antler_url(@animal.left_antler.id)
















