%ol.block.container_ol
  %li
    %ul.block.scorecard_row
      %li B.
      %li Tip to Tip Spread:
      %li= "#{@animal.spread_tip.to_i / 8} #{@animal.spread_tip.to_i % 8}/8\""
      %li= link_to "Edit", edit_animal_path(@animal)
  %li
    %ul.block.scorecard_row.greatest_spread
      %li C.
      %li Greatest Spread:
      %li= "#{@animal.spread_greatest.to_i / 8} #{@animal.spread_greatest.to_i % 8}/8\""
      %li= link_to "Edit", edit_animal_path(@animal)
  %li
    %ul.block.scorecard_row
      %li D.
      %li Inside Spread:
      %li= "#{@animal.spread_inside.to_i / 8} #{@animal.spread_inside.to_i % 8}/8\""
      %li= link_to "Edit", edit_animal_path(@animal)
  %li
    %ul.block.scorecard_row
      %li 
      %li Spread Credit:
      %li= "#{@animal.spread_credit.to_i / 8} #{@animal.spread_credit.to_i % 8}/8\""
      %li= link_to "Edit", edit_animal_path(@animal)