%ol.block.container_ol  
    %li
        %ul.block.scorecard_row
            %li
            %li Right Antler
            %li
            %li
    %li
        %ul.block.scorecard_row
            %li E.
            %li Total of Lengths of Abnormal Points:
            %li= "#{@animal.right_antler.pts_all.to_i / 8} #{@animal.right_antler.pts_all.to_i % 8}/8\""
            %li= link_to "Edit", edit_animal_path(@animal)
    %li
        %ul.block.scorecard_row
            %li F.
            %li Length of Main Beam:
            %li= "#{@animal.right_antler.lg_mainbeam / 8} #{@animal.right_antler.lg_mainbeam % 8}/8\""
            %li
    %li
        %ul.block.scorecard_row
            %li G-1.
            %li Length of First Point:
            %li= "#{@animal.right_antler.lg_one / 8} #{@animal.right_antler.lg_one % 8}/8\""
            %li
    %li
        %ul.block.scorecard_row
            %li G-2.
            %li Length of Second Point:
            %li= "#{@animal.right_antler.lg_two / 8} #{@animal.right_antler.lg_two % 8}/8\""
            %li
    %li
        %ul.block.scorecard_row
            %li G-3.
            %li Length of Third Point:
            %li= "#{@animal.right_antler.lg_three / 8} #{@animal.right_antler.lg_three % 8}/8\""
            %li
    %li
        %ul.block.scorecard_row
            %li G-4.
            %li Length of Fourth Point:
            %li= "#{@animal.right_antler.lg_four / 8} #{@animal.right_antler.lg_four % 8}/8\""
            %li
    %li
        %ul.block.scorecard_row
            %li H-1.
            %li Circ between Burr and First Point:
            %li= "#{@animal.right_antler.circ_one / 8} #{@animal.right_antler.circ_one % 8}/8\""
            %li
    %li
        %ul.block.scorecard_row
            %li H-2.
            %li Circ between First and Second Point:
            %li= "#{@animal.right_antler.circ_two / 8} #{@animal.right_antler.circ_two % 8}/8\""
            %li
    %li
        %ul.block.scorecard_row
            %li H-3.
            %li Circ between Mainbeam and Third Point:
            %li= "#{@animal.right_antler.circ_three / 8} #{@animal.right_antler.circ_three % 8}/8\""
            %li
    %li
        %ul.block.scorecard_row
            %li H-4.
            %li Circ between Second and Fourth Point:
            %li= "#{@animal.right_antler.circ_four / 8} #{@animal.right_antler.circ_four % 8}/8\""
            %li
    %li
        %ul.block.scorecard_row
            %li 
            %li Total length of Right antler:
            %li= "#{@animal.right_antler.lg_antler / 8} #{@animal.right_antler.lg_antler % 8}/8\""
            %li= link_to 'Edit', edit_antler_url(@animal.right_antler.id)
    %li
        %ul.block.scorecard_row
            %li
            %li= link_to '+ Add Left Antler', new_antler_url(side: 'left', animal_id: @animal.id)
            %li
            %li
















