<h1>Listing animals</h1>

<table>
  <tr>
    <th>Kind</th>
    <th>Image</th>
    <th>State</th>
    <th>Region</th>
    <th>Unit</th>
    <th>Hunter</th>
    <th>Spread tip</th>
    <th>Spread greatest</th>
    <th>Spread inside</th>
    <th>Alias</th>
    <th>Certification</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @animals.each do |animal| %>
  <tr>
    <td><%= animal.kind %></td>
    <td><%= animal.image %></td>
    <td><%= animal.state %></td>
    <td><%= animal.region %></td>
    <td><%= animal.unit %></td>
    <td><%= animal.hunter %></td>
    <td><%= animal.spread_tip %></td>
    <td><%= animal.spread_greatest %></td>
    <td><%= animal.spread_inside %></td>
    <td><%= animal.alias %></td>
    <td><%= animal.certification %></td>
    <td><%= link_to 'Show', animal %></td>
    <td><%= link_to 'Edit', edit_animal_path(animal) %></td>
    <td><%= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Animal', new_animal_path %>
