%h2 Scorecards
%aside
%section
	- @scoreable_animals.each do |animal|
		.card
			%figure.card-avatar
				%img{:src => "assets/photo.jpg"}
				.alias
					%span.aka
						\"
						= animal.alias.titleize
						\"
			.card-title
				Species:
				%strong= animal.kind.titleize
			.box-set
				.box
					.box1
						= animal.score_title.titleize
						Score
						%br
						%span.data= "#{animal.score / 8}"
						.score_details
							%strong= "#{animal.score % 8}/8"
							inches
					.box2
						Scoreable Points
						%br
							%span.helper R
							%span.data= "#{animal.right_antler.pts_all}x#{animal.left_antler.pts_all}"
							%span.helper L
