.wrapper
	%nav.card-index
		.add-button
			+
		%span.card-index= link_to 'New Scorecard', new_animal_url

	%section
		- @scoreable_animals.each do |animal|
			.card
				%figure.card-avatar
					%img{:src => "assets/photo.jpg"}
					.alias
						%span.aka
							\"
							= animal.alias.titleize
							\"
				.card-title
					Species:
					%strong= animal.kind.titleize
				.box-set
					.box
						.box1
							= animal.score_title.titleize
							Score
							%br
							%span.data= "#{animal.score / 8}"
							.score_fraction
								%strong= "#{animal.score % 8}"
								8
							inches
						.box2
							Scoreable Points
							%br
								R
								%span.data= "#{animal.right_antler.pts_all}x#{animal.left_antler.pts_all}"
								L
