%nav.card-index
	%a.none{:href => new_animal_url}
		.new-card
			+
	%span.card-index= link_to 'New Scorecard', new_animal_url

%section.cards
	- @scoreable_animals.each do |animal|
		-# - if @animal.type == "Sheds"
		-# 	= render :partial => 'shed'
		%a.none{:href => scorecard_url(animal.id)}
			.card
				%figure.card-avatar
					= image_tag animal.image_url(:thumb).to_s
					.alias
						%span.aka
							= "\"#{animal.alias.titleize}\""
				.card-row
					%strong
						= animal.kind.titleize
						•
						= animal.state.upcase
						•
						Riffle • DIY
				.box-set
					.box
						.box1
							= animal.score_title.titleize
							Score:
							%br
							%span.data= "#{animal.score / 8}"
							.score_fraction
								%strong= "#{animal.score % 8}"
								8
							inches
						.box2
							Scoreable Points:
							%br
								R
								%span.data= "#{animal.right_antler.pts_all}x#{animal.left_antler.pts_all}"
								L
				.card-footer
					%span.id= "#{animal.id}-#{animal.gross_score}"
					%nav.right
						=link_to 'See Details', scorecard_url(animal.id)