<p id="notice"><%= notice %></p>

<p>
  <b>Kind:</b>
  <%= @animal.kind %>
</p>

<p>
  <b>Image:</b>
  <%= @animal.image %>
</p>

<p>
  <b>State:</b>
  <%= @animal.state %>
</p>

<p>
  <b>Region:</b>
  <%= @animal.region %>
</p>

<p>
  <b>Unit:</b>
  <%= @animal.unit %>
</p>

<p>
  <b>Hunter:</b>
  <%= @animal.hunter.full_name %>
</p>

<p>
  <b>Spread tip:</b>
  <%= @animal.spread_tip %>
</p>

<p>
  <b>Spread greatest:</b>
  <%= @animal.spread_greatest %>
</p>

<p>
  <b>Spread inside:</b>
  <%= @animal.spread_inside %>
</p>

<p>
  <b>Alias:</b>
  <%= @animal.alias %>
</p>

<p>
  <b>Certification:</b>
  <%= @animal.certification %>
</p>


<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
