%p#notice



%table
  %tr
    %th Kind:
    %td= @animal.kind
  %tr
    %th Alias:
    %td= @animal.alias
  %tr
    %th Image:
    %td
      %img{:src => @animal.image.to_s}
  %tr
    %th State:
    %td= @animal.state
  %tr
    %th Tip to Tip Spread:
    %td= "#{@animal.spread_tip.to_i / 8} #{@animal.spread_tip.to_i % 8}/8 in"
  %tr
    %th Greatest Spread:
    %td= "#{@animal.spread_greatest.to_i / 8} #{@animal.spread_greatest.to_i % 8}/8 in"
  %tr
    %th Inside Spread:
    %td= "#{@animal.spread_inside.to_i / 8} #{@animal.spread_inside.to_i % 8}/8 in"
  %tr
    %th Right Antler:
    %td
      - if @animal.right_antler.present?
        = "#{@animal.right_antler.lg_antler / 8} #{@animal.right_antler.lg_antler % 8}/8 in Right Antler"
        |
        = link_to 'Edit', edit_antler_url(@animal.right_antler.id)
      - else
        = link_to '+ Add right antler', new_antler_url(side: 'right', animal_id: @animal.id)
  %tr
    %th Left Antler:
    %td
      - if @animal.left_antler.present?
        = "#{@animal.left_antler.lg_antler / 8} #{@animal.left_antler.lg_antler % 8}/8 in Left Antler"
        |
        = link_to 'Edit',  edit_antler_url(@animal.left_antler.id)
      - else
        = link_to '+ Add left antler', new_antler_url(side: 'left', animal_id: @animal.id)

%br
= link_to "Edit", edit_animal_path(@animal)
|
= link_to "Close", scorecards_path









