%h2= "Editing #{@antler.side.titleize} Antler"

= render 'form'

%ul.pointList
  - @antler.points.each do |point|
    %li
      = render :partial  => 'points/point', :locals => {:point => point}

= link_to '+ Add point', new_point_url(antler_id: @antler.id)
