%h2 Listing all Antlers

.table-wrapper
    %table.admin{:cellspacing => "0"}
        %thead
            %tr
                %th id
                %th animal_id
                %th image
                %th certification
                %th side
                %th
                    lg_main
                    %br beam
                %th lg_one
                %th lg_two
                %th lg_three
                %th lg_four
                %th lg_five
                %th lg_six
                %th lg_seven
                %th circ_one
                %th circ_two
                %th circ_three
                %th circ_four
                %th lg_points
        %tbody
            - @antlers.each do |antler|
                %tr.antler
                    %td= antler.id
                    %td= antler.animal_id
                    %td= antler.image
                    %td= antler.certification
                    %td= antler.side
                    %td= antler.lg_mainbeam
                    %td= antler.lg_one
                    %td= antler.lg_two
                    %td= antler.lg_three
                    %td= antler.lg_four
                    %td= antler.lg_five
                    %td= antler.lg_six
                    %td= antler.lg_seven
                    %td= antler.circ_one
                    %td= antler.circ_two
                    %td= antler.circ_three
                    %td= antler.circ_four
                    %td= antler.lg_points
                    %td
                        = link_to 'Show', antler
                        |
                        = link_to 'Edit', edit_antler_path(antler)
                        |
                        = link_to 'Destory', antler, method: :delete, data: {confirm: 'Are you sure you want to delete this ' + antler.side + ' antler?'}

%p= link_to '+ New Antler', new_antler_url