<p id="notice"><%= notice %></p>

<p>
  <b>Animal:</b>
  <%= @antler.animal_id %>
</p>

<p>
  <b>Parent:</b>
  <%= @antler.parent_id %>
</p>

<p>
  <b>Image:</b>
  <%= @antler.image %>
</p>

<p>
  <b>Certification:</b>
  <%= @antler.certification %>
</p>

<p>
  <b>Lg mainbeam:</b>
  <%= @antler.lg_mainbeam %>
</p>

<p>
  <b>Lg one:</b>
  <%= @antler.lg_one %>
</p>

<p>
  <b>Lg two:</b>
  <%= @antler.lg_two %>
</p>

<p>
  <b>Lg three:</b>
  <%= @antler.lg_three %>
</p>

<p>
  <b>Lg four:</b>
  <%= @antler.lg_four %>
</p>

<p>
  <b>Lg five:</b>
  <%= @antler.lg_five %>
</p>

<p>
  <b>Lg six:</b>
  <%= @antler.lg_six %>
</p>

<p>
  <b>Lg seven:</b>
  <%= @antler.lg_seven %>
</p>

<p>
  <b>Circ one:</b>
  <%= @antler.circ_one %>
</p>

<p>
  <b>Circ two:</b>
  <%= @antler.circ_two %>
</p>

<p>
  <b>Circ three:</b>
  <%= @antler.circ_three %>
</p>

<p>
  <b>Circ four:</b>
  <%= @antler.circ_four %>
</p>

<p>
  <b>Side:</b>
  <%= @antler.side %>
</p>


<%= link_to 'Edit', edit_antler_path(@antler) %> |
<%= link_to 'Done', edit_animal_path(@antler.animal_id) %>
