!!! 5
%html
	%head
		%title Elusive Index
		= stylesheet_link_tag "styles"
		= javascript_include_tag "application"
		= csrf_meta_tags

		%script(type="text/javascript" src="//use.typekit.net/fgu2vyh.js")
		%script(type="text/javascript")
			try{Typekit.load();}catch(e){}
	
	%body
		.container
			%header
				.logo
				%h1 ELUSIVE INDEX
			%nav
				= link_to 'Users', users_url
				|
				= link_to 'Animals', animals_url
				|
				= link_to 'Antlers', antlers_url
				|
				= link_to 'Point(s)', points_url
			= yield
