!!! 5
%html
	%head
		%title Elusive Index

		= stylesheet_link_tag "application"
		= javascript_include_tag "application"
		= csrf_meta_tags

		/[if lt IE 9]
			-# This script allows for the :not() selector used in forms. Now compatable back to IE7
			%script{:src => "http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"}

		-# Adobe Typekit include
		%script(type="text/javascript" src="//use.typekit.net/fgu2vyh.js")
		%script(type="text/javascript")
			try{Typekit.load();}catch(e){}
	
	%body
		.wrapper.header_bg
			.container
				%header
					%ul.block.header_ul
						%li
							.logo
						%li
							%nav
								- if current_user
									= link_to 'Animals', animals_url
									|
									= link_to 'Antlers', antlers_url
									|
									= link_to 'Point(s)', points_url
									|
									= link_to 'Scorecard Index', scorecards_url
									|
									= link_to "My Profile", user_url(current_user)
									|
									= link_to "Sign Out", sign_out_url
								- else
									= link_to "Sign Up", new_user_url
									|
									= link_to "Sign In", sign_in_url
		.wrapper
			.container
				= yield
