!!! 5
%html
	%head
		%title Elusive Index
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		%h1 Elusive Index
		%nav
			= link_to 'User', users_url
			|
			= link_to 'Mule Deer', muledeers_url
		= yield
